* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*navbar*/
.background-container {
  background: url(./images/hero.jpg) no-repeat center;
  background-size: cover;
  min-height: 40vh;
  padding: 80px 20px;
}

/*section 2 - О Кайдзен*/

.container-blue {
  background-color: #010248;
}

.border-blue {
  border: 1px solid #010248;
  border-radius: 0.375rem;
}

.font-bona {
  font-family: "Bona Nova", serif;
}

.font-ibm {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
}

.custom-btn {
  background-color: #010248;
  color: #ffffff;
  border: 1px solid #010248;
}

.custom-btn:hover {
  background-color: #ffffff;
  color: #010248;
  border: 1px solid #010248;
}

.container-grey {
  background-color: #f0f0f0;
}

.step-box {
  position: relative;
  padding-left: 2rem;
  border-left: 1px solid #000;
}



#caseSlider {
  scroll-snap-type: x mandatory;
}

.case-item {
  scroll-snap-align: start;
  min-width: 100%;
  box-sizing: border-box;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.consultation-section {
  background: url("./images/bw.jpg") no-repeat center center;
  background-size: cover;
  min-height: 50vh;
  padding: 80px 20px;
}
