* {
  box-sizing: border-box;
}

body {
  padding-top: 76px; /* or adjust based on your navbar height */
}


.background-container {
  background: url(hero.jpg) no-repeat center;
  background-size: cover;
  width: 100%;

}

/*navbar*/
.navbar {
  z-index: 1050; /* Bootstrap default */
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(197, 40, 40, 0.1);
}


.navbar-toggler-icon {

  margin: 0;
  border: none;
}

.offcanvas-title {
  font-family: "Bona Nova", serif;
  font-size: 1.2em;
  font-style: italic;
  color: #010248;
  text-decoration: none;
}

.nav-link {
  color: #010248;
  font-family: "Bona Nova", serif;
  font-size: 1.1em;
}

/*hero section*/
.hero-section {
  z-index: 1;
  position: relative;
}

figure {
  margin: 10px;
}

.blockquote {
  position: relative;
  z-index: 1;
  padding: 20px 0px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Bona Nova", serif;
  color: #010248;
  margin: 0;
}

.blockquote-footer {
  color: #010248;
  font-family: "Bona Nova", serif;
  margin: 0px;
}

.hero-subtitle {
  font-size: 1.2em;
  margin-top: 18px;
  margin-right: 10px;
  font-family: "Bona Nova", serif;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
  text-align: right;
  color: #010248;
  position: relative;
}

.hero-subtitle-text {
  margin: 0;
  padding: 0;
}

/*section 2 - О Кайдзен*/

.container {
  background-color: #010248;
  min-width: 100vw;
  margin: 0;
  padding: 40px;
  color: white;
  font-family: "Bona Nova", serif;
}

.section-text h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 00;
}

.section-text p {
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1em;
}

.row h3 {
  font-size: 1.2em;
  font-weight: normal;
  }

  .row p {
  font-size: 1em;
  line-height: 1em;
}

.bi {
  font-size: 1.7rem;
  color: #ffffff;
}

