* {
   box-sizing: border-box;
}

.background-container {
  background: url(hero.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: ;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 10px;
}

/*navbar*/
.navbar {
  height: 80px;
  z-index: 1;
}

.navbar-brand, .navbar-toggler-icon {
  padding: 20px;
  margin: 0;
  border: none;
}


.navbar-toggler-icon {
  color: #010248;
}

/* optional border and background */
.navbar-toggler {
  margin: 5x;
}

/* Style the close button */
.btn-close {

}

.offcanvas-header {
  font-family: "Literata", serif;
  font-size: 1em;
  font-style: italic;
  color: #010248;

}

.nav-link {
  font-family: "Literata", serif;
  font-size: 1em;
  color: #010248;
}

/*hero section*/
.hero-section {
  z-index: 1;
  position: relative;
}


figure {
  margin: 10px;
}

.blockquote {
  position: relative;
  z-index: 1;
  padding: 20px 0px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Literata", serif;
  color: #010248;
  margin: 0;
}

.blockquote-footer {
  color: #010248;
  font-family: "Literata", serif;
  margin: 0px;
}

.hero-subtitle {
  font-size: 1.2em;
  margin-top: 18px;
  margin-right: 10px;
  font-family: "Literata", serif;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
  text-align: right;
  color: #010248;
  position: relative; /
}

.hero-subtitle-text {
  margin: 0;
  padding: 0;
}

.blue-bg {
  background-color: #010248;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  /* Adjust font size for mobile */
}

.bi {
  font-size: 1.7rem;
  color: #ffffff;
}