@media (min-width: 770px) {
  .section-box {
    max-width: 400px;
    margin: auto;
  }

  /*FAQ section*/
  .sign-in-button {
    margin: 20px auto;
    padding: 10px;
    width: 20%;
    font-size: 1.2em;
  }

  .accordion {
    margin: 0 auto;
  }
}
