@media (min-width: 768px) {
.navbar-container {
padding: 5px 20px;
}

/*О кайдзен*/
 .col-sm h3 {
  margin-bottom: 30px;
 }

/*FAQ section*/
.sign-in-button {
  padding: 5px 10px;
  font-size: 1.2em;
}

.accordion {
  margin: 0 auto;
}

}